TankBattle/Intermediate/
Build/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
ipch/

*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*.VC.db
*.suo
*.VC.opendb
*.sln
